<include file="../../common/view/header"/>
<div class="admin">
    <!DOCTYPE html>
    <html lang="zh-cn">
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
        <meta name="renderer" content="webkit">
        <title></title>
        <link rel="stylesheet" href="__STATIC__/css/pintuer.css">
        <link rel="stylesheet" href="__STATIC__/css/admin.css">
        <script src="__STATIC__/js/jquery.js"></script>
        <script src="__STATIC__/js/pintuer.js"></script>
    </head>
    <body>
    <div class="panel admin-panel">
        <div class="panel-head" id="add"><strong><span class="icon-pencil-square-o"></span>管理员增加</strong></div>
        <div class="body-content">
            <form method="post" class="form-x" action="{:url('user/Admin/save')}" onsubmit="return submitForm();">
                <div class="form-group">
                    <div class="label">
                        <label>管理员名称：</label>
                    </div>
                    <div class="field">
                        <input type="text" class="input w50" value="" name="user_login" data-validate="required:请输入管理员名称" />
                        <div class="tips"></div>
                    </div>
                </div>
                <div class="form-group">
                    <div class="label">
                        <label>密码：</label>
                    </div>
                    <div class="field">
                        <input type="text" class="input w50" value="" name="user_pass" data-validate="required:请输入密码" />
                        <div class="tips"></div>
                    </div>
                </div>

                <div class="form-group">
                    <div class="label">
                        <label>手机：</label>
                    </div>
                    <div class="field">
                        <input type="text" class="input w50" value="" name="mobile" data-validate="required:请输入手机" />
                        <div class="tips"></div>
                    </div>
                </div>
                <div class="form-group">
                    <div class="label">
                        <label>邮件：</label>
                    </div>
                    <div class="field">
                        <input type="text" class="input w50" value="" name="user_email" data-validate="required:请输入邮件" />
                        <div class="tips"></div>
                    </div>
                </div>
                <div class="form-group">
                    <div class="label">
                        <label>cc：</label>
                    </div>
                    <div class="field">
                        <input type="text" class="input w50" value="" name="cc" data-validate="required:请输入手机" />
                        <div class="tips"></div>
                    </div>
                </div>
                <div class="form-group">
                    <div class="label">
                        <label>身份类型：</label>
                    </div>
                        <select name="user_type" class="input w50">
                            <option value="1">请选择身份类型</option>
                            <option value="1">初级管理员</option>
                            <option value="2">中级管理员</option>
                            <option value="0">最高管理员</option>
                        </select>
                        <div class="tips"></div>
                </div>
                <div class="form-group">
                    <div class="label">
                        <label>状态：</label>
                    </div>
                    <select name="user_status" class="input w50">
                        <option value="0">请选择状态</option>
                        <option value="0">正常</option>
                        <option value="0">禁用</option>
                    </select>
                    <div class="tips"></div>
                </div>
                <div class="clear"></div>
                <div class="form-group">
                    <div class="label">
                        <label></label>
                    </div>
                    <div class="field">
                        <button class="button bg-main icon-check-square-o" type="submit"> 提交</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
    </body></html>
    <script>

        function submitForm(){
            $.ajax({
                url:"<?php echo url('Admin/save');?>",
                type:"POST",
                data:$("form").serialize(),
                success:function(res){

                    if(res.code == 1){
                        layer.alert(res.msg, {title: "提示",btn:'确定'},function () {
                            location.href="{:url('/user/Admin/index')}";
                        });
                    }
                    console.log(res);
                }
            });
            return false;
        }
    </script>
</div>
</body>
</html>