<include file="../../common/view/header"/>
<div class="admin">
    <!DOCTYPE html>
    <html lang="zh-cn">
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
        <meta name="renderer" content="webkit">
        <title></title>
        <link rel="stylesheet" href="__STATIC__/css/pintuer.css">
        <link rel="stylesheet" href="__STATIC__/css/admin.css">
        <script src="__STATIC__/js/jquery.js"></script>
        <script src="__STATIC__/js/pintuer.js"></script>
    </head>
    <body>
    <form method="post" action="">
        <div class="panel admin-panel">
            <div class="panel-head"><strong class="icon-reorder"> 管理员列表</strong></div>
            <div class="padding border-bottom">
                <ul class="search">
                    <li>
                        <button type="button"  class="button border-green" id="checkall"><span class="icon-check"></span> 全选</button>
                        <button type="submit"  class="button border-red" onclick="return DelSelect()"><span class="icon-trash-o"></span> 批量删除</button>
                        <button onclick="window.location.href='{:url(\'user/Admin/add\')}'" type="button"  class="button border-green"><span class="icon-plus-square-o" ></span> 添加管理员</button>
                    </li>
                </ul>
            </div>
            <table class="table table-hover text-center">
                <tr>
                    <th width="120">管理员ID</th>
                    <th>管理员名称</th>
                    <th>手机</th>
                    <th>邮件</th>
                    <th>身份类型</th>
                    <th>状态</th>
                    <th width="120">创建时间</th>
                    <th>操作</th>
                </tr>
                <volist name="admin" id="admins">
                <tr>
                    <td><input type="checkbox" name="id[]" value="{$admins.id}" />
                        {$admins.id}</td>
                    <td> {$admins.user_login}</td>

                    <td>{$admins.mobile}</td>
                    <td>{$admins.user_email}</td>
                    <td>{$admins.user_type}</td>
                    <td>{$admins.user_status}</td>
                    <td>{$admins.create_time}</td>

                    <td><div class="button-group"> <a class="button border-red" href="javascript:void(0)" onclick="return del({$admins.id})"><span class="icon-trash-o"></span> 删除</a> </div></td>
                </tr>

                </volist>
                <style>

                    .pagination .active span{
                        background:#09F; color:#FFF; border-color:#09F;
                        border-radius: 3px;
                        display: inline-block;
                        padding: 9px 12px;
                    }

                    .pagination li{ margin: 0 3px}
                </style>
                <tr>
                    <td colspan="8">
<!--                        <div class="pagelist">-->
<!--                            <a href="">上一页</a> <span class="current">1</span>-->
<!--                            <a href="">2</a><a href="">3</a><a href="">下一页</a>-->
<!--                            <a href="">尾页</a>-->
<!--                        </div>-->
                        {$admin->render()}
                    </td>
                </tr>
            </table>
        </div>
    </form>
    <script type="text/javascript">

        function del(id){
            layer.alert("您确认要删除内容吗？", {title: "提示",btn:'确定'},function () {
                $.ajax({
                    url:"<?php echo url('Admin/deleteAdmin');?>",
                    type:'POST',
                    data:{id:id},
                    success:function (res) {
                        if(res.code == 1){
                            layer.alert(res.msg, {title: "提示",btn:'确定'},function () {
                                history.go(0)
                            });
                        }else{
                            layer.alert(res.msg, {title: "提示",btn:'确定'});
                        }

                    }
                })
            });
        }

        $("#checkall").click(function(){
            $("input[name='id[]']").each(function(){
                if (this.checked) {
                    this.checked = false;
                }
                else {
                    this.checked = true;
                }
            });
        })

        function DelSelect(){
            var Checkbox=false;
            var str = '';
            $("input[name='id[]']").each(function(){

                if (this.checked==true) {
                    Checkbox=true;
                    console.log(this)
                    str=str+$(this).val()+',';
                }
            });
            if (Checkbox){

                layer.alert("您确认要删除选中的内容吗？", {title: "提示",btn:'确定'},function () {
                    $.ajax({
                        url:"<?php echo url('Admin/deleteAdmin');?>",
                        type:'POST',
                        data:{id:str.slice(0,-1)},
                        success:function (res) {
                            if(res.code == 1){
                                layer.alert(res.msg, {title: "提示",btn:'确定'},function () {
                                    history.go(0)
                                });
                            }else{
                                layer.alert(res.msg, {title: "提示",btn:'确定'});
                            }
                        }
                    })
                });
                return false;
            }
            else{
                layer.alert("请选择您要删除的内容!", {title: "提示",btn:'确定'});
                return false;
            }
        }

    </script>
    </body></html>
</div>
</body>
</html>